*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins",sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    width: 100%;
    height: 100vh;
}
.main-menu{
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: rgb(231, 154, 169);
    padding-top: 10px;
    border: ridge purple 5px;
}
.main-menu{
     outline: ridge purple 5px;
}
.main-menu:hover{
    color: rgb(228, 31, 31);
    transition: 0.3s ease;
    transform: scale(1.1);
}
.main-content img{
    justify-content: center;
    text-align: center;
}